html { width:100%; height:100%; margin:0; padding:0; }
body { width:100%; height:100%; margin:0; padding:0;overflow:hidden}



#phoneScreen{
    background-color: azure;
    height: 100%;
    width: 100%;
    position: absolute;
}

#topBar{
    background-color: grey;
    position: absolute;
    height: 5%;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin: auto;
}

#boxParent{
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;
    text-align: right;
}


#buttonParent{
    left: 60%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 18%;
    translate: -150px;
}



.feelingButtons{
    background-color: white;
    width: 100px;
    height: 30px;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 40px;
}

#bioInput{
    position: absolute;
    top: 50%;
    left: 10%;
    height: 200px;
    width: 300px;
    text-align: start;
    z-index: 1;
}

#finishProfile{
    background-color: white;
    height: 100px;
    width: 150px;
    top: 80%;
    left: 50%;
    translate: -75px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

#logo {
left: 50%;
top: 100px;
height: 200px;
position: absolute;
translate: -100px;
}

#ProfileButton{
background-color: red;
top: 70%;
left: 50%;
height: 100px;
width: 100px;
border-radius: 50%;
position: absolute;
translate: -50px;

}